@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Concert One, monospace, sans-serif;
  background-color: #4276ca;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #a3a3a3, 0 0 25px black, 0 0 5px white;
  color: white;
}

div.container a {
  padding: 10px 23px;
  border-radius: 10px;
  background-color: #5aca5a;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 1000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
}

div.icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

div.icons div:nth-child(1) {
  -webkit-perspective: 10px;
          perspective: 10px;
  margin-left: 470px;
  margin-bottom: 50px;
}

div.icons div:nth-child(2) {
  margin-right: 400px;
  -webkit-transform: rotate(120deg) scale(1.4);
          transform: rotate(120deg) scale(1.4);
}

div.icons div:nth-child(3) {
  margin-left: 350px;
  -webkit-transform: rotate(-23deg) scale(1.2);
          transform: rotate(-23deg) scale(1.2);
}

div.icons div:nth-child(4) {
  -webkit-transform: scale(1.2) translate(-50%, -30%);
          transform: scale(1.2) translate(-50%, -30%);
  margin-right: 140px;
  margin-top: 20px;
}

div.x {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}

div.x::before {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: white;
}

div.x::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: white;
}

div.o {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}

div.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 72%;
  width: 72%;
  background-color: #4276ca;
}

div.o::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
}
/*# sourceMappingURL=loose.css.map */