@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
$color: rgb(205, 213, 231);
$bg-color: rgb(66, 118, 202);
body{
  margin: 0;
  padding: 0;
  font-family: Concert One, monospace, sans-serif;
  color: $color;
  background-color: $bg-color;
}

body > div{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @mixin crossX {
    content: '';
    position: absolute;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 50%;
    display: block;
    width: 13%;
    min-width: 4px;
    height: 100%;
    background-color: $color;
  }
  @mixin circleO {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 100%;
    width: 100%;
    background-color: $color;
  }
  //X & O
  div.x{
    display: block;
    height: 30px;
    width: 30px;
    position: relative;

    &::after{
      @include crossX();
    }
    &::before{
      @include crossX();
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  div.o{
    display: block;
    height: 30px;
    width: 30px;
    position: relative;

    &::before{
      @include circleO();
    }
    &::after{
      @include circleO();
      background-color: $bg-color;
      height: 73%;
      width: 73%;
    }
  }
  & > div.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    & > div{
      padding: 5px 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      a#retryicon{
        color: inherit;
      }
      span#switch{
        cursor: pointer;
      }
      &:nth-child(1), &:nth-child(3){
        div{
          height: 20px;
          width: 20px;
        }
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(3){
        padding-bottom: 0;
        align-items: flex-end;
      }
      &:nth-child(7), &:nth-child(8), &:nth-child(9){
        align-items: flex-start;
        padding-top: 0;
      }
      &:nth-child(4), &:nth-child(6){
        font-size: 1.5rem;
      } //USER & AI
      &:nth-child(2), &:nth-child(8){
        font-size: 1rem;
      }//Swap and Retry Icon
      &:nth-child(7), &:nth-child(9){
        padding: 0;
        transform: translateY(-30%);
        font-size: 3rem;
      }//Scores
    }
  }
  & > div.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 25vw;
    height: 25vw;
    margin-top: 50px;

    & > div{ //fields
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      div{ //for x's and o's
        @keyframes xoFade {
          0%{
            opacity: 0;
            height: 30%;
            width: 30%;
          }
          100%{
            opacity: 1;
            height: 70%;
            width: 70%;
          }
        }
        animation: xoFade .3s forwards;
      }

      $border: $color solid 8px;
      &:nth-child(1){
        border-right: $border;
        border-bottom: $border;
      }
      &:nth-child(2){
        border-bottom: $border;
      }
      &:nth-child(3){
        border-left: $border;
        border-bottom: $border;
      }
      &:nth-child(4){
        border-right: $border;
      }
      &:nth-child(6){
        border-left: $border;
      }
      &:nth-child(7){
        border-top: $border;
        border-right: $border;
      }
      &:nth-child(8){
        border-top: $border;
      }
      &:nth-child(9){
        border-top: $border;
        border-left: $border;
      }
    }
  }
}