@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Concert One, monospace, sans-serif;
  color: #cdd5e7;
  background-color: #4276ca;
}

body > div {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > div div.x {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

body > div div.x::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
}

body > div div.x::before {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

body > div div.o {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

body > div div.o::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
}

body > div div.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
  background-color: #4276ca;
  height: 73%;
  width: 73%;
}

body > div > div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

body > div > div.grid > div {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > div > div.grid > div a#retryicon {
  color: inherit;
}

body > div > div.grid > div span#switch {
  cursor: pointer;
}

body > div > div.grid > div:nth-child(1) div, body > div > div.grid > div:nth-child(3) div {
  height: 20px;
  width: 20px;
}

body > div > div.grid > div:nth-child(1), body > div > div.grid > div:nth-child(2), body > div > div.grid > div:nth-child(3) {
  padding-bottom: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body > div > div.grid > div:nth-child(7), body > div > div.grid > div:nth-child(8), body > div > div.grid > div:nth-child(9) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0;
}

body > div > div.grid > div:nth-child(4), body > div > div.grid > div:nth-child(6) {
  font-size: 1.5rem;
}

body > div > div.grid > div:nth-child(2), body > div > div.grid > div:nth-child(8) {
  font-size: 1rem;
}

body > div > div.grid > div:nth-child(7), body > div > div.grid > div:nth-child(9) {
  padding: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  font-size: 3rem;
}

body > div > div.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 25vw;
  height: 25vw;
  margin-top: 50px;
  gap: 8px;
  background-color: #cdd5e7;
  position: relative;
  margin-top: 10vh;
}

body > div > div.board > div.field {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #4276ca;
}

body > div > div.board > div.field div {
  -webkit-animation: xoFade .3s forwards;
          animation: xoFade .3s forwards;
}

@-webkit-keyframes xoFade {
  0% {
    opacity: 0;
    height: 30%;
    width: 30%;
  }
  100% {
    opacity: 1;
    height: 70%;
    width: 70%;
  }
}

@keyframes xoFade {
  0% {
    opacity: 0;
    height: 30%;
    width: 30%;
  }
  100% {
    opacity: 1;
    height: 70%;
    width: 70%;
  }
}

body > div > div.board > .line {
  display: block;
  height: 7px;
  width: 300%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #cdd5e7;
  border-radius: 4px;
  position: absolute;
  -webkit-animation: linereveal 1s ease-in-out forwards;
          animation: linereveal 1s ease-in-out forwards;
  background-position: 0% 50%;
}

@-webkit-keyframes linereveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes linereveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body > div > div.board > .line#l0 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body > div > div.board > .line#l1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body > div > div.board > .line#l3 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l4 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l5 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l6 {
  width: 400%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l7 {
  width: 400%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .border {
  border: 7px solid #cdd5e7;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  border-radius: .5em;
}

body > div > div.board > .restart {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: restartFade 1s 1.2s ease-in-out forwards;
          animation: restartFade 1s 1.2s ease-in-out forwards;
}

@-webkit-keyframes restartFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #4276ca;
  }
}

@keyframes restartFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #4276ca;
  }
}

@-webkit-keyframes restartSpanFade {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  20% {
    opacity: 1;
    font-size: 2.6rem;
  }
  100% {
    opacity: 1;
    font-size: 2.2rem;
  }
}

@keyframes restartSpanFade {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  20% {
    opacity: 1;
    font-size: 2.6rem;
  }
  100% {
    opacity: 1;
    font-size: 2.2rem;
  }
}

body > div > div.board > .restart span {
  font-size: 0rem;
  -webkit-animation: restartSpanFade 1s 1.5s ease-in-out forwards;
          animation: restartSpanFade 1s 1.5s ease-in-out forwards;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */