@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Concert One, monospace, sans-serif;
  color: #cdd5e7;
  background-color: #4276ca;
  overflow: hidden;
}

@-webkit-keyframes screenfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes screenfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a#githublink {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #cdd5e7;
  z-index: 20;
}

div.winscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4276ca;
  -webkit-animation: screenfade 1s forwards;
          animation: screenfade 1s forwards;
}

div.winscreen h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #5aca5a, 0 0 25px #5aca5a, 0 0 5px white;
}

div.winscreen a {
  padding: 10px 23px;
  border-radius: 10px;
  background-color: #5aca5a;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 1000;
}

div.loosescreen {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #7c7c7c;
  -webkit-animation: screenfade 1s forwards;
          animation: screenfade 1s forwards;
}

div.loosescreen .main {
  z-index: 99999;
}

div.loosescreen h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #a3a3a3, 0 0 25px black, 0 0 5px white;
}

div.loosescreen a {
  padding: 10px 23px;
  border-radius: 10px;
  background-color: #5aca5a;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 1000;
}

div.loosescreen .drop {
  width: 15px;
  height: 120px;
  position: absolute;
  -webkit-animation: drop 0.5s linear infinite;
          animation: drop 0.5s linear infinite;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

div.loosescreen .stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.603)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.603));
  -webkit-animation: stem 0.5s linear infinite;
          animation: stem 0.5s linear infinite;
}

@-webkit-keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

div.loosescreen .splat {
  width: 15px;
  height: 10px;
  border-top: 5px dotted rgba(255, 255, 255, 0.822);
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: splat 0.5s linear infinite;
          animation: splat 0.5s linear infinite;
  display: inline-block;
}

@-webkit-keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

body > div {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body > div.difficulties {
  background-color: #cdd5e7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.5rem;
  gap: 4px;
  border: solid #cdd5e7 4px;
  border-radius: .5em;
  z-index: 20;
}

body > div.difficulties span {
  border-radius: .5em;
  background-color: #4276ca;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
}

body > div.difficulties span.selected {
  background-color: #273B7A;
}

body > div.texttitle {
  height: 150px !important;
  width: 150px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

body > div.texttitle img {
  width: 70%;
  height: auto;
}

body > div.texttitle #titletop {
  font-size: 1.4rem;
}

body > div div.x {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

body > div div.x::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
}

body > div div.x::before {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

body > div div.o {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

body > div div.o::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
}

body > div div.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
  background-color: #4276ca;
  height: 73%;
  width: 73%;
}

body > div > div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

body > div > div.grid > div {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > div > div.grid > div a#retryicon {
  color: inherit;
}

body > div > div.grid > div span#switch {
  cursor: pointer;
}

body > div > div.grid > div:nth-child(1) div, body > div > div.grid > div:nth-child(3) div {
  height: 20px;
  width: 20px;
}

body > div > div.grid > div:nth-child(1), body > div > div.grid > div:nth-child(2), body > div > div.grid > div:nth-child(3) {
  padding-bottom: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body > div > div.grid > div:nth-child(7), body > div > div.grid > div:nth-child(8), body > div > div.grid > div:nth-child(9) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0;
}

body > div > div.grid > div:nth-child(4), body > div > div.grid > div:nth-child(6) {
  font-size: 1.5rem;
}

body > div > div.grid > div:nth-child(2), body > div > div.grid > div:nth-child(8) {
  font-size: 1rem;
}

body > div > div.grid > div:nth-child(7), body > div > div.grid > div:nth-child(9) {
  padding: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  font-size: 3rem;
}

body > div > div.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 25vw;
  height: 25vw;
  margin-top: 50px;
  gap: 8px;
  background-color: #cdd5e7;
  position: relative;
  margin-top: 10vh;
}

body > div > div.board > div.field {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #4276ca;
}

body > div > div.board > div.field div {
  -webkit-animation: xoFade .3s forwards;
          animation: xoFade .3s forwards;
}

@-webkit-keyframes xoFade {
  0% {
    opacity: 0;
    height: 30%;
    width: 30%;
  }
  100% {
    opacity: 1;
    height: 70%;
    width: 70%;
  }
}

@keyframes xoFade {
  0% {
    opacity: 0;
    height: 30%;
    width: 30%;
  }
  100% {
    opacity: 1;
    height: 70%;
    width: 70%;
  }
}

body > div > div.board > .line {
  display: block;
  height: 7px;
  width: 300%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #cdd5e7;
  border-radius: 4px;
  position: absolute;
  -webkit-animation: linereveal 1s ease-in-out forwards;
          animation: linereveal 1s ease-in-out forwards;
  background-position: 0% 50%;
}

@-webkit-keyframes linereveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes linereveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body > div > div.board > .line#l0 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body > div > div.board > .line#l1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

body > div > div.board > .line#l3 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l4 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l5 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l6 {
  width: 400%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .line#l7 {
  width: 400%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

body > div > div.board > .border {
  border: 7px solid #cdd5e7;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  border-radius: .5em;
}

body > div > div.board > .restart {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: restartFade 1s 1.2s ease-in-out forwards;
          animation: restartFade 1s 1.2s ease-in-out forwards;
}

@-webkit-keyframes restartFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #4276ca;
  }
}

@keyframes restartFade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #4276ca;
  }
}

@-webkit-keyframes restartSpanFade {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  20% {
    opacity: 1;
    font-size: 2.6rem;
  }
  100% {
    opacity: 1;
    font-size: 2.2rem;
  }
}

@keyframes restartSpanFade {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  20% {
    opacity: 1;
    font-size: 2.6rem;
  }
  100% {
    opacity: 1;
    font-size: 2.2rem;
  }
}

body > div > div.board > .restart span {
  font-size: 0rem;
  -webkit-animation: restartSpanFade 1s 1.5s ease-in-out forwards;
          animation: restartSpanFade 1s 1.5s ease-in-out forwards;
  text-align: center;
}

div.rating {
  z-index: 20;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 20px;
  width: 100px;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 50px 1fr 50px;
      grid-template-rows: 50px 1fr 50px;
}

div.rating .scorebar {
  display: block;
  border: solid #cdd5e7 3px;
  border-radius: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

div.rating .scorebar .aiscore {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .5s;
  transition: height .5s;
  background-color: #273B7A;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

div.rating .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

div.rating .wrap:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

div.rating .wrap:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

div.rating .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
}

div.rating .score span {
  z-index: 1;
}

div.rating div.x {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

div.rating div.x::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
}

div.rating div.x::before {
  content: '';
  position: absolute;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
  display: block;
  width: 13%;
  min-width: 4px;
  height: 100%;
  background-color: #cdd5e7;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

div.rating div.o {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
}

div.rating div.o::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
}

div.rating div.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 100%;
  width: 100%;
  background-color: #cdd5e7;
  background-color: #4276ca;
  height: 73%;
  width: 73%;
}
/*# sourceMappingURL=style.css.map */